@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto&display=swap');

$color-black: #333333;
$color-white: #fafafa;
$color-navy-blue: #192841;
$color-header-blue: #008ecc;

$font-header: "Comic Sans MS", "Comic Sans", cursive;
$font-body: "Roboto", sans-serif;
$font-logo: "Acme", sans-serif; 