nav {
    display: flex;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: $color-navy-blue;

    div {
        display: flex;
        align-items: center;

        img {
            padding: 10px;
        }

        h1 {
            font-size: 85px;
            font-weight: bold;
            font-family: $font-logo;
        }
    }

    a {
        border: 2px solid $color-navy-blue;
        color: $color-navy-blue;
        padding: 25px 50px;
        border-radius: 10px;
        font-size: 35px;
        font-weight: bold;
    }

    a:link,
    a:visited {
        text-decoration: none;
    }
}

header {
    color: $color-header-blue;
    font-family: $font-header;
    margin: auto;
    font-size: 35px;
    padding: 0px 70px 30px 70px;
    margin: 30px;
    text-align: center;
}

#main-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
        height: 800px;
        width: auto;
    }
}