nav {
    display: flex;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
    font-family: $font-header;
    border: 1px black solid;
    padding: 40px;

    div {
        display: flex;
        align-items: center;

        img {
            padding: 10px;
        }

        h1 {
            font-size: 60px;
        }
    }

    a:link,
    a:visited {
        text-decoration: none;
    }
}